    body {
      background-color: lightgrey
    }

    hr {
      border-style: solid none none none;
      border-color: #A9A9A9;
      border-width: 5px;
      width: auto;

    }

    h1, h3 {
      color: #4682B4;
    }

img {
  border-radius: 20px
}
